body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

header {
    padding: 2px 20px 2px 20px;
    color: #dd3333;
    background-color: #000;
}

footer{
    text-align: center;
    background-color: #fd8989;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 5px;
}

#container {
    width: 800px;
    margin: auto;
    overflow: auto;
    margin-bottom: 70px;
}

textarea{
    width: 100%;
}

input[type="submit"]{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

#btnDiffSubmit{
    float: right;
}

table{
    width: 100%;
    border-collapse: collapse;
    overflow-wrap: anywhere;
}

thead tr{
    width: 100%;
    font-weight: 500;
    color: #eaeaea;
    background-color: dimgray;
    height: 50px;
}

tbody tr{
    background-color: #f3f3f3;
}

td {
    padding: 10px;
}

#divDiffResult{
    padding-top: 60px;
}

